<form action="/country/add" method="post">
   <h1>Add new country</h1>
   Country name: <input type="text" name="name" id="" required>
   <br><br>
 
   <br><br>
   <input type="submit"class="btn btn-success" value="Add">
</form>