<form action="/brand/add" method="post">
   <h1>Add new brand</h1>
   Brand name: <input type="text" name="name" id="" required>
   <br><br>
    Country brand: <br>
   <select name="country">
      {{#each countries }}
      <option value="{{ _id }}"> {{ name }}</option>
      {{/each}}
   </select>
   <br><br>
   <input type="submit" class="btn btn-success"value="Add">
</form>