<form action="/brand/edit/{{ brand._id }}" method="post">
   <h1>Edit brand</h1>
   Brand name: <input type="text" name="name" id="" value="{{ brand.name }}" required>
   <br><br>
     Country brand: <br>
   <select name="country">
      {{#each countries }}
      <option value="{{ _id }}"> {{ name }}</option>
      {{/each}}
   </select>
   <br><br>
   <input type="submit"class="btn btn-success" value="Edit">
</form>